venv
*egg-info*
*.vscode
*.csv
*.png
*.pyc
*.png
*.vital
*.h5
*.png
*.jpg
*.pyc
*.json
*.tsv

*.tfevents
*.sav
*.zip
*.csv#
physionet.org/*
*.npy
*.image.jpg
*.out
*__pycache__*
data/*
*.egg-info*
*.ipynb_checkpoints*
*.pkl
*.hea
*.dat
ptbxl_noise
*lightning_logs*
logs/*
*.cpkl
*.ckpt
experiments/*.txt
*jpg.rf*
*.yaml
*.DS_Store
*.pt
*.cache
